
/*=================CSS RESET START===========================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==================CSS RESER END=================*/
html,body {
    min-height: 100%;
    position: relative;
    color: #7f8c8c;
    font-family: Arial;
    font-family: Arial, lato;
    background-image: url("images/1.png");
    background-repeat: inherit;
}
body {
    height: 100%;
}
a {
    text-decoration: none;
    color: whitesmoke;
}
a:hover {
    cursor: pointer;
}
li {
    list-style-type: none;
}
p {
    padding-top: 3%;
}
/* ------------------------------------------------- header -------------------------------------------------------------------------------- */
header {
    padding: 2em 15%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: flex-start;  
    top: 0px;
    text-align: center; 
    letter-spacing: 1px;
    min-height: 8em;
}
header .header_left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* header logo sellbi */
.header_logo {
    margin-top: -45px;
}
.amazon {
    margin-top: -20px;
}
nav {
    display: inline-block;
    font-family: lato, roboto;
    font-size: 2.125em;
    margin-top: 5%;
}

.topnav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    }

    .topnav a {
        color: white;
        font-family: Lato;
        font-size: 20px;
        font-weight: normal;
        justify-content: space-between;
        text-align: center;
        padding: 5px;
        margin: 10px;
    }
/* ---------------------------------------------------------- END OF THE HEADER ---------------------------------------------------------------  */

/* -------------------------------------------------------------- SECTION 1 -------------------------------------------------------------------- */
.img_adaptive {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
}
.logo_big {
    padding: 10px 550px 10px 550px;
    width: 100px;
    align-items: baseline;
}
   
.info {
    font-family: lato;
    font-size: 1.5625em;
    text-align: center;
    align-content: center;
    color: whitesmoke;
}


  .info-block {
      text-align: justify;
      color: whitesmoke;
      font-size: 1.125em;
      line-height: 1.6875em;
  }

   .perfect {
       margin-left: 25%;
   }

.left {
    padding-top: 10%;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.left-top {
    position: absolute;
    float: left;
    top: 5%;
    left: 2%;
}
.right-top {
    position: absolute;
    top: 5%;
    left: 29%;
    float: left;
}
.right {
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.right-blade {
    padding-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

.right2 {
    width: auto;
    float: right;
    margin-left: auto;
    margin-right: auto;
}
.block_left { 
    width: auto;
    float: left;
    color: whitesmoke;
}
.block_right {
    width: auto;
    float: right;
    color: whitesmoke;
}

.info-left {
    text-align: center;
    margin-right: 50px;
    color: whitesmoke;
    font-size: 1.125em;
    line-height: 1.75em;
}

.info-left1 {
    text-align: center;
    margin-right: 100px;
    color: whitesmoke;
    font-size: 1.125em;
    line-height: 1.75em;
}

.info-right {
    text-align: center;
    color: whitesmoke;
    font-size: 1.125em;
    line-height: 1.75em;
}

.center {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.font {
    display: flex;
    justify-content: center;
    color: white;
    font-family: cotillio, 'Dancing Script', cursive;
    font-size: 3.4375em;
}

.desktop1 {
    display: none;
}

.wheat {
    position: absolute;
    top: 27%;
    left: -18%;
}

.wheatbowl {
    position: absolute;
    top: 24%;
    right: 1%;
}
.buckwheat {
    position: absolute;
    top: 32%;
    right: -1%;
}
.main_right {
    width: 45%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}
.main_left {
    width: 45%;
    float: right;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

  
  .questions {
      position: absolute;
      bottom: 6%;
      left: 40%;
      font-family: cotillio, 'Dancing Script', cursive;
      color: whitesmoke;
      font-size: 2em;
  }
  
  .question_button {
      top: 10px;
  }
  .promo_box {
      left: 33%;
  }
  .footer {
      position: absolute;
  }
  
  .footer_border {
      width: 100%;
      position: relative;
      top: 385px;
      right: 0px;
      bottom: 0px;
      background-color: transparent;
  }
  
  .footer_background {
      width: 100%;
      bottom: 0px;
  }
  
  .about {
      position: absolute;
      bottom: 15%;
      left: 35%;
      font-size: 1.375em;
      letter-spacing: 1px;
      line-height: 1.6875em;
  }

  .logo {
     position: absolute;
     bottom: 20%;
     left: 20%;
  }
  .amazon_footer {
      position: absolute;
      bottom: 15%;
      left: 54%;
  }
  .social {
      position: absolute;
      bottom: 25%;
      left: 50%;
  }
  
  .decorations-left {
      position: absolute;
      display: block;
      max-width: 100%;
      height: auto;
  }
  .decorations-right {
      position: absolute;
      display: block;
      max-width: 100%;
      height: auto;
      float: right;
  }
  .decorations-center {
      position: absolute;
      display: block;
      max-width: 100%;
      height: auto;
  }
  .flour {
      padding-top: 9%;
  }
  .flour-1 {
      left: 80%;
  }
  .flour-2 {
      top: 53.4375em;
  }
  .pepper {
      left: 75%;
  }
  .garlic {
      left: 25%;
  }
  .cardamone {
      right: 87%;
  }

  .right, .blade {
      padding-top: 120px;
    margin-left: auto;
    margin-right: auto;
  }
    
/*=========================END OF CLASSES========================*/
section {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 15px;
      margin-bottom: 5%;
      border-spacing: 0px;
      border-collapse: collapse;
    }
button {
    color: white;
    font-family: lato;
    font-size: 20px;
    background-color: transparent;
    padding: 10px 45px 10px 45px;
    margin: 25px 10px 25px 10px;
    border: 3px solid white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

button:hover {
    background-color: #f0a93e;
}

.button-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 25px;
}

section a {
      margin-right: 350px;
      margin-top: 5px;
      font-size: 20px;
      color: #7f8c8c;
      font-family: "OpenSans", "Arial";
}
h1 {
      text-align: center;
      font-family: cotillio, 'Dancing Script', cursive;
      margin-bottom: 20px;
}
 footer {
      bottom: 0px;
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: space-between;
      background-size: 100%;
      background-repeat: repeat;
      align-items: center; 
}

/*========================SOCIAL BUTTONS====================*/

.btn {
  display: block;
  width: 50px;
  margin: 50px auto;
  padding: 0px;

  color: whitesmoke;
  font: inherit;
  border: 0;
  background-color: #252525;
  border-radius: 50%;
}
.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
  
    vertical-align: bottom;
    background-image: url("images/sloi_34.png");
    background-repeat: no-repeat;
}

.icon-twi {
    position: absolute;
    top: 165px;
    left: 54.5%;
    background-position: -210px 0px;
}

.icon-fb {
    position: absolute;
    top: 165px;
    left: 58.5%;
    background-position: -140px 0px;
}

.icon-insta {
    position: absolute;
    top: 165px;
    left: 62.5%;
    background-position: 0px 0px;
}



/*=================SLIDER RULES=========================*/

* {box-sizing:border-box}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*=============================================================MEDIA===========================================================*/

@media screen and (min-width: 62.5em) {
    .desktop {
    display: none;    
    }
}


@media screen and (max-width: 62em) and (orientation: landscape) {

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 0.375px;
    }

    .header_logo {
        padding-top: 35px;
        position: relative;
        display: block;
        max-width: 100%;
        height: auto;
}

    .topnav {
        display: flex;
        flex-direction: column;
        align-items: center;    
}

    .amazon {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    }

    .header_left {
        float: left;
    }

    button {
        color: white;
        font-family: lato;
        font-size: 0.875em;
        background-color: transparent;
        padding: 7px 45px 7px 45px;
        margin: 20px 10px 20px 10px;
        border: 3px solid white;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }


 .left, .right, .right-top, p, div, .center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
    align-content: center;
    color: whitesmoke;
}

.desktop1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    position: relative;
}

.font-1 {
    font-size: 1.875em;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
}

.info {
    font-family: lato;
    font-size: 1.0625em;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    color: whitesmoke;
}

.bowl {
    position: relative;
    display: block;
    margin-top: 31%;
    margin-left: 15%; 
    max-width: 90%;
    height: auto;
}

  
.smartphone, .flour-2, .hide {
    display: none;
}

.desktop {
    margin-left: 15px;
    margin-bottom: 0px;
    text-align: center;
}

.flour-1 {
    position: absolute;
    top: 10%;
    left: 1%;
    opacity: 0.3;
}

.wheat {
    opacity: 0.3;
}

.pepper {
   display: none;   
}

.buckwheat {
    opacity: 0.3;
}


.infoblock {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}


.questions {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    top: 93%;
    left: 30%;
    bottom: 1%;
    font-family: cotillio, 'Dancing Script', cursive;
    color: whitesmoke;
    font-size: 2em;
}

.promo_box {
    position: relative;
    top: 93%;
    left: 10%;
}
/*======================SOCIAL BUTTONS===================================*/


.icon-twi {
    position: absolute;
    top: 170px;
    left: 62%;
    background-position: -210px 0px;
}

.icon-fb {
    position: absolute;
    top: 170px;
    left: 71%;
    background-position: -140px 0px;
}

.icon-insta {
    position: absolute;
    top: 170px;
    left: 80%;
    background-position: 0px 0px;
}

.amazon_footer {
    position: absolute;
    bottom: 17%;
    left: 62%;
  }

  .about {
    position: absolute;
    bottom: 15%;
    left: 39%;
}



} 

/*=============================================================================================================================*/

 @media screen and (orientation: portrait) {

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
    }

    body {
        min-height: 100%;
    }

    header {
        display: grid;
        align-items: center;
        justify-content: center;
        font-size: 6px;
    }
    
    .topnav {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

  .header_logo {
      padding-top: 35px;
  }

  .font, .font-1 {
      font-size: 2.1875em;
      margin-top: 22%;
      margin-left: auto;
      margin-right: auto;
  }

  button {
    color: white;
    font-family: lato;
    font-size: 0.875em;
    background-color: transparent;
    padding: 7px 55px 7px 55px;
    margin: 20px 10px 20px 10px;
    border: 3px solid white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .button-2 {
      margin-left: 6.25em;
  }

  p {
      text-align: center;
  }

  .left-top, .left, .right, .right-top, p, div, .center {
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
      text-align: center;
      align-content: center;
      color: whitesmoke;
  }

  .safe {
      position: absolute;
      
  }

  .info {
      margin-top: 20px;
  }

  .font-2 {
      text-align: justify;
  }

  .desktop {
      margin-top: 10.3125em;
      margin-left: 15px;    
      margin-bottom: 0px;
      text-align: center;
  }

.desktop1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    position: relative;
}

  .desktop-1 {         
      margin-bottom: 0px;
     text-align: center;
}

  .footer_background {
      opacity: 0.001;
  }

  .footer_border {
      opacity: 0.001;
  }

  /*===========================================SOCIAL BUTTONS=============================================*/

  .btn {
    display: block;
    width: 50px;
    margin: 50px auto;
    padding: 0px;
  
    color: whitesmoke;
    font: inherit;
    border: 0;
    background-color: #252525;
    border-radius: 50%;
  }

  .icon {
      display: inline-block;
      width: 50px;
      height: 50px;
    
      vertical-align: bottom;
      background-image: url("images/sloi_34.png");
      background-repeat: no-repeat;
  }
  
  .icon-twi {
      position: absolute;
      top: 32.5em;
      left: 70%;
  }
  
  .icon-fb {
      position: absolute;
      top: 36.25em;
      left: 70%;
  }
  
  .icon-insta {
      position: absolute;
      top: 40em;
      left: 70%;
  }




  /*GARLIC SHOULD BE RETURNED ON ADAPTIVE, PEPPER PROBABLY*/

  .frame, .flour, .flour-1, .flour-2, .garlic, .pepper, .wheat, .wheatbowl, .buckwheat, .smartphone, .hide {
      display: none;
  }
/*
    .pepper {
        position: absolute;
    }
*/
    section {
        column-width: 15em;
      }


      .wheatbowl {
        position: relative;
        display: block;
        max-width: 100%;
        height: auto;
        }

        .infoblock {
            display: flex;
            margin-top: 5px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        footer {
         bottom: 0px;
         display: flex;
         flex-direction: column;
         position: relative;
         background-size: 100%;
         align-items: center;
        }

        .footer {
            position: absolute;
        }

       .logo {
           position: absolute;
           bottom: 15em;
           left: 11.5625em;
       }

        .amazon_footer {
          position: absolute;
          bottom: 3.2%;
          left: 32%;
        }

        .social {
         position: absolute;
         bottom: 50%;
         left: 18%;
        }

       .about {
      position: absolute;
      bottom: 85px;
      left: 37%;
      font-size: 1.375em;
      letter-spacing: 1px;
      line-height: 1.6875em;
        }

        .right-top {
         position: relative;
         top: 15.625em;
         left: 0.4375em;
         display: block;
         max-width: 100%;
         height: auto;
        }

  .questions {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 80%;
    left: 10%;
    bottom: 1%;
    font-family: cotillio, 'Dancing Script', cursive;
    color: whitesmoke;
    font-size: 2em;
}

.promo_box {
    position: absolute;
    top: 94%;
    left: 0.625em;
}

 }




 /* ==================ADAPTIVE IMAGE====================== */

/*
 position: relative;
 display: block;
 max-width: 100%;
 height: auto;
*/
