* {
    margin: 0px;
    padding: 0px;
}

html,body {
    height: 100%;
    color: #7f8c8c;
    font-family: Arial;
    background-image: url("images/1.png");
    background-repeat: inherit;
 /*  -- текст нормально позиционируется с этими двумя строчками, но футер пропадает
    display: flex;
    justify-content: space-around;
 */
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

header {
    padding: 2em 15%;
    width: 100%;
    
    display: block;
    z-index: 99;
    top: 0px;
    text-align: center; 
    letter-spacing: 1px;
    height: 8em;
    background-size: 100%;
}

header .header_left {
  display: flex;
  justify-content: left;
}

/* header logo sellbi */

.header_logo {
    float: center;
    margin-top: -45px;
}

.amazon {
    margin-top: -15px;
}

nav {
    font-family: lato, roboto;
    font-size: 34px;
    margin-top: 35px;
    display: inline-block;
}

.topnav {
    display: flex;
    justify-content: space-around;
    }

    #basket {
  
    }

    .custom_border {
        width: 75%;
        position: absolute;
        background-color: transparent;
        left: 11%;
        top: 135px;
    } 



.topnav a {
    color: white;
    text-align: center;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: bold;
}

.topnav .icon {
    display: none;
}

.header_logo b {
    font-size: 40px;
}



.main_right {
    width: 45%;
    float: left;
    margin-left: 80px;
}

.main_left {
    width: 45%;
    float: right;
    margin-top: 50px;
}

.main_img {
    display: flex;
    flex-direction: column;
}

.main_img img {
    height: 300px;
    width: 450px;
    margin: 20px 0px 20px 0px;
}

button {
    width: 330px;
    color: white;
    background-color: transparent;
    padding: 7px 3px 7px 3px;
    margin: 20px 7px 20px 7px;
    border: 3px solid whitesmoke;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


section {
    margin-top: 20px;
}

.section_nav button {
    padding: 10px;
    border: 4px solid whitesmoke;
    cursor: pointer;
}

.section_nav button:hover {
    background: #f0a93e;
}

.section_nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

section a {
    margin-right: 350px;
    margin-top: 5px;
    font-size: 20px;
    color: #7f8c8c;
    font-family: "OpenSans", "Arial";
}

section h1 {
    text-align: center;
    font-family: Cotillio;
    margin-bottom: 20px;
}
/* - протестировать, нужно ли

.section_nav {
    margin-bottom: 70px;
}
*/

footer {
    width: 100%;
    position: absolute;
    bottom: 15px;
    background-size: 100%;
    background-repeat: repeat;
}

#footer {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    align-items: center;
}

.company {
    width: 30%;
    color: white;
    padding-top: 35px;
}

.company h1 {
    margin-bottom: 20px;
    margin-left: 10px;
}

.company p {
    margin: 20px 10px 20px 10px;
}


.company li {
    margin: 10px 5px 10px 5px;
}

.company a {
    color: white;
}

.bottom p {
    margin-left: 55px;
}
/*
.social_button {
        width: 100px; 
        height: 48px; 
        background:url(images/sloi_34.png) 5px 0px; 
}
*/

@media screen and (max-width: 1500px){
    .nav {
        display: flex;
        flex-direction: column;
    }
    
    .main_about {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .main_right {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

     .footer_wrap {
        display: flex;
        flex-direction: column;
        margin-left: 300px;
    }
}

@media screen and (max-width: 660px){
    header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .main_nav {
        margin-right: 60px;
    }
    
    .header_logo p {
        font-size: 16px;
    }
    
    .main_portfolio {
        display: flex;
        flex-direction: column;
       align-items: center;
    }
    
    .main_portfolio h1 {
        margin-right: 100px;
    }
    
    .main_portfolio p {
        margin-left: 100px;
        margin-top: 20px;
    }
    
    .main_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
   .main_button {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
   }
    
   .main_img {
       align-items: center;
   }
    
   .main_left {
       align-items: center;
       margin-left: 50px;
   }
    
   .section_nav {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
    
  .section_nav a {
      margin: 20px 0px 20px 0px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
    
   }
