* {
    margin: 0px;
    padding: 0px;
}

html,body {
    min-height: 100%;
    position: relative;
    color: #7f8c8c;
    font-family: Arial;
    background-image: url("images/1.png");
    background-repeat: inherit;
}
body {
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
/* ------------------------------------------------- header -------------------------------------------------------------------------------- */
header {
    padding: 2em 15%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: flex-start;  
    z-index: 99;
    top: 0px;
    text-align: center; 
    letter-spacing: 1px;
    height: 8em;
    background-size: 100%;
}

header .header_left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* header logo sellbi */

.header_logo {
    margin-top: -45px;
}

.amazon {
    margin-top: -15px;
}

nav {
    display: inline-block;
    font-family: lato, roboto;
    font-size: 34px;
    margin-top: 35px;
}

.topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }

    .topnav a {
        color: white;
        font-family: Lato;
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        padding: 12px 22px;
        
    }

/* ---------------------------------------------------------- END OF THE HEADER ---------------------------------------------------------------  */

/* -------------------------------------------------------------- SECTION 1 -------------------------------------------------------------------- */

.custom_border {
    width: 75%;
    position: relative;
    background-color: transparent;
    left: 10%;
    top: 135px;
} 

section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    }
    
.logo_big {
    padding: 220px 550px 10px 550px;
    width: 100px;
    align-items: baseline;
}
    
.info {
    font-family: lato;
    text-align: center;
    align-content: center;
    color: whitesmoke;
    margin-top: 10px;
    margin-left: 50px;
}

    img.right {
        float: right;
        width: 35%;
        margin-right: 22%;
        transform: translateY(-25%);
    }

.left {
    width: auto;
    float: left;
    padding-left: 150px;
    margin-left: 50px;
}

.left2 {
    width: auto;
    float: left;
    padding-left: 350px;
}

.right {
    width: auto;
    float: right;
}


.right2 {
    width: auto;
    float: right;
}

.block_left { 
    width: auto;
    float: left;
    padding-left: 150px;
    margin-left: 50px;
    color: whitesmoke;
}
.block_right {
    width: auto;
    float: right;
    color: whitesmoke;
}

.center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.basket {
    width: 700px;
    float: right;
}


.font {
    display: flex;
    color: white;
    justify-content: center;
    font-family: cotillio, 'Dancing Script', cursive;
    font-size: 55px;
}


button.center {
    text-align: center;
    margin-top: 20px;
    margin-left: 650px;
}

.sizing {
    margin-top: 30px; 
}

.rattan {
    width: 500px;
    display: flex;
}

.bag {
    width: 500px;
    float: left;
}

/*
    img.shadow {
        float: right;
        width: 35%;
        margin-right: 22%;
        transform: translateY(-125%);
    }
 */

.custom_border {
        width: 85%;
        height: 698px;
        position: absolute;
        background-color: transparent;
        left: 13%;
        top: 135px;
    } 
    
.first {
        font-family: cotillio, 'Dancing Script', cursive;
        font-size: 45px;
        text-align: left;
        padding: 55px;
}



.main_right {
    width: 45%;
    float: left;
    margin-left: 80px;
}

.main_left {
    width: 45%;
    float: right;
    margin-top: 10px;
}


.arrow {
    display: block;
    margin: 0 auto;
}

button {
    color: white;
    font-family: lato;
    font-size: 15px;
    background-color: transparent;
    padding: 10px 45px 10px 45px;
    margin: 25px 10px 25px 10px;
    border: 3px solid white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

button:hover {
    background-color: #f0a93e;
}


section {
    margin-top: 20px;
}



.section_nav button:hover {
    background: #f0a93e;
}

.section_nav {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section a {
    margin-right: 350px;
    margin-top: 5px;
    font-size: 20px;
    color: #7f8c8c;
    font-family: "OpenSans", "Arial";
}

h1 {
    text-align: center;
    font-family: cotillio, 'Dancing Script', cursive;
    margin-bottom: 20px;
}
/* - протестировать, нужно ли

.section_nav {
    margin-bottom: 70px;
}
*/

 footer { 
    clear: both;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-size: 100%;
    background-repeat: repeat;
    margin-left: 60px;
    align-items: center;
  
}

.about {
    position: absolute;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer_border {
    width: 100%;
    position: absolute;
    background-color: transparent;
    bottom: 0px;
    
}

.footer_background {
    width: 100%;
    bottom: 0px;
}

.company {
    width: 30%;
    color: white;
    padding-top: 35px;
}

.company h1 {
    margin-bottom: 20px;
    margin-left: 10px;
}

.company p {
    margin: 20px 10px 20px 10px;
}


.company li {
    margin: 10px 5px 10px 5px;
}

.company a {
    color: white;
}

.bottom p {
    margin-left: 55px;
}
/*
.social_button {
        width: 100px; 
        height: 48px; 
        background:url(images/sloi_34.png) 5px 0px; 
}
*/

@media screen and (max-width: 1500px){
    .nav {
        display: flex;
        flex-direction: column;
    }
    
    .main_about {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .main_right {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

     .footer_wrap {
        display: flex;
        flex-direction: column;
        margin-left: 300px;
    }
}

@media screen and (max-width: 660px){
    header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .main_nav {
        margin-right: 60px;
    }
    
    .header_logo p {
        font-size: 16px;
    }
    
    .main_portfolio {
        display: flex;
        flex-direction: column;
       align-items: center;
    }
    
    .main_portfolio h1 {
        margin-right: 100px;
    }
    
    .main_portfolio p {
        margin-left: 100px;
        margin-top: 20px;
    }
    
    .main_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
   .main_button {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
   }
    
   .main_img {
       align-items: center;
   }
    
   .main_left {
       align-items: center;
       margin-left: 50px;
   }
    
   .section_nav {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
    
  .section_nav a {
      margin: 20px 0px 20px 0px;
  }
  

   }
